<div class="burger-menu-backdrop" data-modal>
  <div class="burger-menu">
    <div class="container burger-menu-container">
      <button class="burger-menu-close" data-modal-close>
        <svg class="burger-menu-close-icon" width="20" height="20">
          <use href="/img/icons/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="burger-menu-nav">
        <ul class="burger-menu-nav-list">
          <li class="burger-menu-nav-list-item">
            <a class="burger-menu-nav-link" href="#how-it-works"
              >how it works</a
            >
          </li>
          <li class="burger-menu-nav-list-item">
            <a class="burger-menu-nav-link" href="#vegetables">vegetables</a>
          </li>
          <li class="burger-menu-nav-list-item">
            <a class="burger-menu-nav-link" href="#reviews">reviews</a>
          </li>
        </ul>
      </nav>
      <button class="burger-menu-shop-now-button">shop now</button>
    </div>
  </div>
</div>
