<footer class="footer-section" id="footer">
  <div class="container footer-container">
    <div class="footer-nav-flex-box">
      <div class="footer-logo-box">
        <a href="/index.html" class="footer-logo-link">
          <svg class="footer-logo-icon" width="16" height="16">
            <use href="/img/icons/icons.svg#icon-logo"></use>
          </svg>
          <svg class="footer-logo-name" width="146" height="12">
            <use href="/img/icons/icons.svg#icon-logo-text"></use>
          </svg>
        </a>
        <p class="footer-logo-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>

      <ul class="footer-anchor-list">
        <li class="footer-anchor-list-item">
          <a href="#how-it-works" class="footer-anchor-link">how it works</a>
        </li>
        <li class="footer-anchor-list-item">
          <a href="#vegetables" class="footer-anchor-link">vegetables</a>
        </li>
        <li class="footer-anchor-list-item">
          <a href="#reviews" class="footer-anchor-link">reviews</a>
        </li>
      </ul>
    </div>
    <address class="footer-address-box">
      <a class="footer-address-phone" href="tel:+380503247703"
        >+380 (50) 324-77-03</a
      >
      <p class="footer-address-text">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </p>
    </address>
    <div class="footer-privacy-box">
      <div class="footer-privacy-link-wrapper">
        <a class="footer-privacy-link" href="privacy-policy.html"
          >Privacy Policy</a
        >
        <span>/</span>
        <a class="footer-privacy-link" href="cookie-settings.html"
          >Cookie settings</a
        >
      </div>
      <div class="footer-year">
        <p class="footer-year-text">&copy; Green Harvest 2025</p>
      </div>
    </div>
  </div>
</footer>
