<header class="header-section">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="/index.html" class="header-logo-link">
        <svg class="header-logo" width="16" height="16">
          <use href="/img/icons/icons.svg#icon-logo"></use>
        </svg>
        <svg class="header-logo-text" width="146" height="12">
          <use href="/img/icons/icons.svg#icon-logo-text"></use>
        </svg>
      </a>
      <div class="inner-nav-flex-box">
        <button class="header-burger-button" data-modal-open>
          <svg class="header-icon-burger" width="21" height="16">
            <use href="/img/icons/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="footer-nav-link" href="#how-it-works">How It Works</a>
          </li>
          <li class="header-nav-item">
            <a class="footer-nav-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-nav-item">
            <a class="footer-nav-link" href="#reviews">Reviews</a>
          </li>
        </ul>
        <button class="header-shop-now-button">shop now</button>
      </div>
    </nav>
  </div>
</header>
