<header class="header-section">
  <div class="container">
    <nav class="header-nav">
      <a href="/index.html" class="header-logo-link">
        <svg class="header-logo" width="16" height="16">
          <use href="/img/icons/icons.svg#icon-logo"></use>
        </svg>
        <svg class="header-logo-text" width="146" height="12">
          <use href="/img/icons/icons.svg#icon-logo-text"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="footer-nav-link" href="#how-it-works">how it works</a>
        </li>
        <li class="header-nav-item">
          <a class="footer-nav-link" href="#vegetables">vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="footer-nav-link" href="#reviews">reviews</a>
        </li>
      </ul>
      <button class="header-shop-now-button">shop now</button>
      <button class="header-burger-button">
        <svg class="header-icon-burger" width="21" height="16">
          <use href="/img/icons/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
