<section class="vegetables-section section-paddings" id="vegetables">
  <div class="container">
    <div class="vegetables-text-wrapper">
      <h2 class="vegetables-heading">
        organic <br /><span class="vegetables-heading-span">vegetables</span>
      </h2>
      <p class="vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="vegetables-list-item-text-wrapper">
          <p class="vegetables-list-item-big-text">eggplant</p>
          <p class="vegetables-list-item-small-text">60 USD / kg</p>
        </div>
        <div class="vegetables-list-item-image-wrapper">
          <img
            srcset="/img/vegetables/eggplant@2x.png 2x"
            src="/img/vegetables/eggplant.png"
            alt="Eggplant"
            width="282"
            height="243"
          />
        </div>
      </li>

      <li class="vegetables-list-item">
        <div class="vegetables-list-item-text-wrapper">
          <p class="vegetables-list-item-big-text">leek</p>
          <p class="vegetables-list-item-small-text">50 USD / kg</p>
        </div>
        <div class="vegetables-list-item-image-wrapper">
          <img
            srcset="/img/vegetables/leek@2x.png 2x"
            src="/img/vegetables/leek.png"
            alt="Leek"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-list-item-text-wrapper">
          <p class="vegetables-list-item-big-text">mushrooms</p>
          <p class="vegetables-list-item-small-text">40 USD / kg</p>
        </div>
        <div class="vegetables-list-item-image-wrapper">
          <img
            srcset="/img/vegetables/mushrooms@2x.png 2x"
            src="/img/vegetables/mushrooms.png"
            alt="Mushrooms"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-list-item-text-wrapper">
          <p class="vegetables-list-item-big-text">corn</p>
          <p class="vegetables-list-item-small-text">60 USD / kg</p>
        </div>
        <div class="vegetables-list-item-image-wrapper">
          <img
            srcset="/img/vegetables/corn@2x.png 2x"
            src="/img/vegetables/corn.png"
            alt="Corn"
            width="282"
            height="243"
          />
        </div>
      </li>

      <li class="vegetables-list-item">
        <div class="vegetables-list-item-text-wrapper">
          <p class="vegetables-list-item-big-text">sweet potatoes</p>
          <p class="vegetables-list-item-small-text">50 USD / kg</p>
        </div>
        <div class="vegetables-list-item-image-wrapper">
          <img
            srcset="/img/vegetables/sweet-potatoes@2x.png 2x"
            src="/img/vegetables/sweet-potatoes.png"
            alt="Sweet Potatoes"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-list-item-text-wrapper">
          <p class="vegetables-list-item-big-text">carrot</p>
          <p class="vegetables-list-item-small-text">40 USD / kg</p>
        </div>
        <div class="vegetables-list-item-image-wrapper">
          <img
            srcset="/img/vegetables/carrot@2x.png 2x"
            src="/img/vegetables/carrot.png"
            alt="Carrot"
            width="282"
            height="243"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
