.header-section {
  position: absolute;
  width: 100%;
}

.header-nav {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-nav-list {
  display: none;
}

.header-nav-item {
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px;
  width: 118px;
  height: 44px;
  text-align: center;
}

.header-shop-now-button {
  display: none;
}

.header-burger-button {
  background-color: transparent;
}

.header-logo-link {
  fill: #fbfbfb;
}

.header-icon-burger {
  stroke: #fbfbfb;
}
/* Tablet*/
@media screen and (min-width: 768px) {
  .header-logo-link {
    gap: 9px;
  }

  .header-logo {
    width: 20px;
    height: 20px;
  }

  .header-logo-text {
    width: 187px;
    height: 17px;
  }

  .header-icon-burger {
    width: 27px;
    height: 20px;
  }
}
/* Desktop*/
@media screen and (min-width: 1280px) {
  .header-nav {
    align-items: center;
  }

  .inner-nav-flex-box {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header-burger-button {
    display: none;
  }

  .header-nav-list {
    display: flex;
    gap: 8px;
  }

  .header-shop-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 157px;
    height: 52px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: inherit;
    background-color: #7a3145;
  }
}
