.how-it-works-section {
  padding-top: 40px;
  padding-bottom: 80px;
  background: linear-gradient(
    to bottom,
    #7a3145 0% 44.76%,
    #576f35 44.76% 100%
  );
}
.how-it-works-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how-it-works-image-wrapper {
  padding-bottom: 40px;
}
.how-it-works-image {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.how-it-works-image-box {
  height: 452px;
}
.how-it-works-content-wrapper {
  padding-top: 80px;
}
.how-it-works-big-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.how-it-works-big-text-span {
  color: #d4bfc4;
}
.how-it-works-small-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  margin-bottom: 40px;
}
.how-it-works-list {
  counter-reset: my-counter;
}
.how-it-works-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.how-it-works-list-item {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 15px;
  padding: 12px 27px 12px 24px;
  background-color: #fbfbfb;
}
.how-it-works-list-item::before {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  counter-increment: my-counter;
  content: counter(my-counter);
  width: 52px;
  height: 52px;
  background-color: #7a3145;
  border-radius: 50%;
  border: 5px solid;
  border-color: #d4bfc4;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.how-it-works-span {
  font-weight: 700;
  color: #141414;
}
.how-it-works-counter-text {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.42;
  color: #858585;
}
/*------------------ Tablet---------------*/
@media screen and (min-width: 768px) {
  .how-it-works-container {
    padding: 100px 164px;
  }
  .how-it-works-list-item {
    gap: 24px;
  }
  .how-it-works-big-text {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .how-it-works-small-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }
}
/* --------------------Desktop ------------------ */
@media screen and (min-width: 1280px) {
  .how-it-works-section {
    background: linear-gradient(to right, #7a3145 0% 50%, #576f35 50% 100%);
  }
}
