.reviews-section {
  background-color: #fbfbfb;
}

.reviews-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}
.reviews-heading-span {
  color: #576f35;
}
.reviews-small-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: #141414;
}
.reviews-cards-list {
  padding-top: 40px;
}
.reviews-cards-list-item {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px;
  height: 228px;
}
.reviews-img {
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.reviews-cards-big-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}
.reviews-cards-small-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  color: #858585;
}
/* Tablet*/
@media screen and (min-width: 768px) {
  .reviews-cards-list-item {
    width: 340px;
    height: 248px;
  }
}
/* Desktop*/
@media screen and (min-width: 1280px) {
  .reviews-cards-list-item {
    width: 344px;
    height: 248px;
  }
}
